*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body{
	display:flex;
	justify-content:center;
	align-items:center;
	min-height:100vh;
}

ul{
	display:flex;
	flex-direction:column;
	position:relative;
	gap:10px;
}

ul li{
	list-style:none;
	text-align:center;
}
